
<p><label>Title: <br />
  <%= f.text_field :title %>
</label></p>
<p><label>Feed URL: <br />
  <%= f.text_field :url %>
</label></p>

<p><label>URL: <br />
  <%= f.text_field :alternative_url %>
</label></p>

<p><label>Type: <br />
  <%= f.select :factory, FEED_TYPES %>
</label></p>

<p><%= f.label :tag_list, 'Tags (e.g. "garden,green,bauhaus")' %>
  <%= f.text_field :tag_list %>
</p>

<p><label>Topic: <br />
  <%= f.select :topic_id, Topic.active.collect{|t| [t.title, t.id]}, :include_blank => true %>
</label></p>

