<div class="second">
	<h2>About Open Tables</h2>
	<p>Open Tables Ecology is a study in contemporary interaction theory, or Ubiquitous Computing.</p>
	<p><%= link_to 'Learn more', about_url %></p>
	
	
	<div id="newsletter">
		<h2>Newsletter</h2>
		<form action="http://opentables.cmail1.com/s/403419/" method="post">

		<span class="label"><label for="l403419-403419">Enter your email</label></span> 
		<span><input type="text" name="cm-403419-403419" id="l403419-403419" size="25" /></span> 
		<input type="submit" value="Subscribe" />
		</form>
	</div>
	
	<div id="subscribe">
		<h2>Subscribe (RSS)</h2>
		<p><a href="http://feeds.feedburner.com/opentables_items" class="rss">All items<a></p>
		<p><a href="http://feeds.feedburner.com/opentables_comments" class="rss">Latest Comments<a></p>
	</div>
	
</div>

<div class="main">
	<h1><%= @page_title = "Select a topic" %></h1>
	<ul id="topicList">
	<% @topics.each do |topic| %>
		<li>
				<div class="item">
		  	  <%= render :partial => '/items/topics/' + topic.items.first.type.to_s.downcase, :locals => {:item => topic.items.first} if topic.items.first %>
		  	</div>
		  	<h2><a href="<%= url_for(topic) %>"><%= topic.title %></a></h2>
		  	<div><%= textilize(topic.description) %></div>
		  	<div class="clearThis"> </div>
			
		</li>
	<% end %>
	</ul>
</div>