<div class="second">
	<div class="info">
	  <%= Goldberg::ContentPage.find_by_name('info').content_html rescue nil %>
	</div>

	
	<div id="subscribe">
		<h2>Subscribe (RSS)</h2>
		<p><a href="http://feeds.feedburner.com/opentables_items" class="rss">All items</a></p>
		<p><a href="http://feeds.feedburner.com/opentables_comments" class="rss">Latest Comments</a></p>
	</div>
	
	<div id="newsletter">
		<h2>Newsletter</h2>
		<form action="http://opentables.cmail1.com/s/403419/" method="post">

		<span class="label"><label for="l403419-403419">Enter your email</label></span> 
		<span><input type="text" name="cm-403419-403419" id="l403419-403419" size="25" /></span> 
		<input type="submit" value="Subscribe" />
		</form>
	</div>
	<div id="recent_comments">
	  <h2>Recent Comments</h2>
	  <script type="text/javascript" src="http://disqus.com/forums/opentables-web/recent_comments_widget.js?num_items=4&avatar_size=32"></script>
	</div>
	
</div>

<div class="main">
	<h1><%= @page_title = "Select a topic" %></h1>
	<ul id="topicList">
	<% @topics.each do |topic| %>
		<li>
				<div class="item">
		  	  <%= render :partial => '/items/topics/' + topic.items.first.type.to_s.downcase, :locals => {:item => topic.items.first} if topic.items.first %>
		  	</div>
				<a href="<%= url_for(topic) %>" class="topicLink">
		  	<h2><%= topic.title %></h2>
		  	<div><%= textilize(topic.description) %></div>
				</a>
		  	<div class="clearThis"> </div>
			
		</li>
	<% end %>
	</ul>
</div>