<div class="second">
	<h2>About Open Tables</h2>
	<p>Open Tables Ecology is a study in contemporary interaction theory, or Ubiquitous Computing.</p>
	<p><%= link_to 'Learn more', about_url %></p>
</div>

<div class="main">
	<h1><%= @page_title = "Select a topic" %></h1>
	<ul id="topicList">
	<% @topics.each do |topic| %>
		<li>
				<div class="item">
		  	  <%= render :partial => '/items/topics/' + topic.items.first.type.to_s.downcase, :locals => {:item => topic.items.first} if topic.items.first %>
		  	</div>
		  	<h2><a href="<%= url_for(topic) %>"><%= topic.title %></a></h2>
		  	<div><%= textilize(topic.description) %></div>
		  	<div class="clearThis"> </div>
			
		</li>
	<% end %>
	</ul>
</div>