<div class="second">
	<h2>About Open Tables</h2>
	<p>Open Tables Ecology is a study in contemporary interaction theory, or Ubiquitous Computing.</p>
	<p><%= link_to 'Learn more', about_url %></p>
</div>

<div class="main">
	<h1><%= @page_title = "Select a topic" %></h1>
	<ul id="topicList">
	<% @topics.each do |topic| %>
		<li>
			<a href="<%= url_for(topic) %>">
		  	<h2><%= topic.title %></h2>
		  	<div><%= textilize(topic.description) %></div>
			</a>
		</li>
	<% end %>
	</ul>
</div>