<h1><%= @page_title = h(@topic.title) %> <%= link_to_unless_current '(Change topic)', topics_url, :class => "changeTopic" %></h1>

<div id="topicNav">
  <%= render :partial => '/items/search' %>
  <%= link_to_unless_current 'Create a new item', new_topic_item_url(@topic) %>
</div>

<p>topic tags: <%= @topic.tags.join(', ') %></p>

<ul><% tag_cloud @topic.items.tag_counts, %w(css1 css2 css3 css4) do |tag, css_class| %>
   <li><%= link_to tag.name, { :controller => :items, :action => :tag, :id => tag.name, :topic_id => @topic.id }, :class => css_class %></li>
 <% end %>
</ul>
 
<% @topic.items.published.find(:all, :include => :tags).each do |item| %>
  <div class="item">
    <h3><%= link_to item.title, item_url(item) %></h3>
    <%= render :partial => '/items/' + item.type.to_s.downcase, :locals => {:item => item} %>
  </div>
<% end %>