<div id="topicNav">
  <%= render :partial => '/items/search' %>
  <%= link_to 'edit topic', edit_topic_url(@topic) if logged_in? and current_user.admin? %>
  <%= link_to 'New item', new_topic_item_url(@topic) %>
</div>

<h1>Topic: <%= @page_title = h(@topic.title) %> <%= link_to_unless_current '(Change topic)', topics_url, :class => "changeTopic" %></h1>


<p class="topicTags">Tags for this topic are <%= @topic.tags.join(', ') %></p>

<div class="second">
	<div id="tagFilter">
		<h2>Filter this topic by tag:</h2>
		<ul><% tag_cloud @topic.items.tag_counts, %w(css1 css2 css3 css4) do |tag, css_class| %>
		   <li><%= link_to tag.name, { :controller => :items, :action => :index, :tags => tag.name, :topic_id => @topic.id }, :class => css_class %></li>
		 <% end %>
		</ul>
	</div>
</div>

<div class="main">
	<% @topic.items.published.find(:all, :include => :tags).each do |item| %>
	  <div class="item">
	    <h3><%= link_to item.title, item_url(item) %></h3>
	    <%= render :partial => '/items/' + item.type.to_s.downcase, :locals => {:item => item} %>
	  </div>
	<% end %>
</div>

<div class="clearThis"> </div>