<%= error_messages_for :user %>

<p><%= f.label :name, 'Login name' %>
  <%= f.text_field :name %>
</p>
<p><%= f.label :fullname, 'Full name' %>
  <%= f.text_field :fullname %>
</p>
<p><%= f.label :email, 'E-Mail' %>
  <%= f.text_field :email %>
</p>
<p><%= f.label :website, 'Website' %>
  <%= f.text_field :website %>
</p>