<% # a few notes to self: Use input-fields only once, you labels as often as you want to %>
<p><%= f.label :type, 'Type' %>
  <%= f.select :type_name, ITEM_TYPES.collect{|name| [name, name]}, {:include_blank => true},{ :onchange => 'hide_all(this); show(this.value);'} %>
</p>

<p class="article video photo weblink"><%= f.label :title, 'Title' %>
  <%= f.text_field :title %>
</p>

<p><%= f.label :source, 'Reference url', :class => "article video photo" %>
  <%= f.label :source, 'Weblink', :class => "weblink" %>
  <%= f.text_field :source %>
</p>

<p class="article video photo weblink"><%= f.label :tag_list, 'Tags (e.g. "garden,green,bauhaus")' %>
  <%= f.text_field :tag_list %>
</p>

<p class="article video photo"><%= f.label :body, 'Text', :class => "article" %>
  <%= f.label :body, 'Photo or video url (width: 500px or less)', :class => "photo video" %>
  <%= f.text_area :body %>
</p>

<% javascript_tag do -%>
  $(document).ready(function(){
    hide_all($('#item_type_name'));
    <% if @item.type_name != "" %>show('<%=@item.type || '' %>')<% end %>
  });
<% end %>
