<p class="itemTopic">This item belongs to: <%= link_to h(@topic.title), @topic if @topic %></p>

<div id="topicNav">
  <%= link_to 'Edit item', edit_item_url(@item) if logged_in? and current_user.admin? %>
  <%#= link_to_remote 'delete item', item_url(@item), :method => :delete, :confirm => 'Are you sure?' if logged_in? and current_user.admin? %>
</div>

<h1><%= @page_title = h(@item.title) %></h1>

<div class="main">
	<%= render :partial => @item.type.to_s.downcase, :locals => {:item => @item } %>
	<% @item.topics.each do |topic| %>
	<% end %>
	
	<%= render :partial => 'relevant_rejected' %>
	
	<%= link_to 'previous', item_url(@item.previous), :class => "previous" %>
	<%= link_to 'next', item_url(@item.next), :class => "next" %>
</div>

<div class="second">
  <h2>Available tags</h2>
  <ul id="tags">
    <%= render :partial => 'tag', :collection => @tags %>
  </ul>
	<% form_tag({:action => :add_tag, :id => @item.id }, :method => :put) do -%>
	  <%= text_field_tag :tag %>
	  <%= submit_tag 'add tag', :name => nil %>
	<% end -%>
</div>